[Unit]
Description=Framily setup Flask service
After=network.target

[Service]
Type=simple
WorkingDirectory=/home/framily
ExecStart=/usr/bin/python3 /home/framily/main_flask.py
Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target
